.course{
  &__wrapper{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;
    margin: 5rem;
    &_box{
      height: 20rem;
      background: #FFEBEB;
      // box-shadow: 0 1rem rem rgba($color-black,.5);
      position: relative;
      border-radius: 18px;
      &-count{
        position: absolute;
        top: 0;
        left:0;
        font-size: 2.4rem;
        color: $color-white;
        background: $color-exim-dark-grey;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-50%,-50%);
      }
    }
  }
}
