.pricing{
  &__cards{
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.card{
  margin: 0 5rem;
  background:$color-white;
  color: $color-black;
  padding: 2rem;
  box-shadow: 0 0 5rem rgba($color-black,.5);
  border-radius: 12px;
  & h3{
    color: #77D65B;
    text-transform: uppercase;
    margin-right: 2rem;
    text-align: right;
    margin-bottom: 2rem;
  }
  & hr{
    width: 80%;
    margin: .5rem auto;
  }
  &__name{
    text-align:center;
    font-size: 2rem;
    font-weight: bold;
  }
  &__price{
    text-align:center;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 2rem 0;
  }
  & ul{
    & li{
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      margin: 1.5rem 0;
      & strong{
        margin-right: .5rem;
      }
      & img{
        margin-right: 1rem;
      }
    }
  }
}
.black{
  color:$color-white;
  background: $color-black;
}
