.landing__7{
  & img{
    width: 100vw;
    position: relative;
    left: -12rem;
  }
}
@include respond(tab-land){
  .landing__7{
    & img{
      width: 100vw;
      position: relative;
      left: -2rem;
    }
  }
};
