.landing__7{
  margin-bottom: 16rem;
  & img{
    width: 100vw;
    position: relative;
    left: -12rem;
  }
}
@include respond(tab-land){
  .landing__7{
    & img{
      width: 100vw;
      position: relative;
      left: -1rem;
    }
    &_img{
      transform: scale(2);
    }
  }
};
