.landing__2{
  margin-top: 5rem;
  padding: 1rem 5rem;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_text{
    &-big{
      // font-family: 'PT Serif', serif;
      font-size: 4.5rem;
      color: $color-exim-dark-grey;
      font-weight: bolder;
      text-transform: uppercase;
    }
    &-small{
      font-size: 1.8rem;
      color: $color-exim-dark-grey;
      font-weight: 300;
      line-height: 2;
      margin:2rem 0;
      // text-transform: uppercase;
    }
    &-btn{
     min-width: 35rem;
     background-image: linear-gradient(to right,#1069DC,#1CA2F9);
     padding: 2rem 2rem;
     border: none;
     border-radius: 12px;
     display: flex;
     align-items: center;
     color: $color-white;
     justify-content: space-around;
     font-size: 2.978rem;
     font-weight: bolder;
     margin-top: 3rem;
     text-transform: lowercase;
     transition: all .3s ;
     &:hover{
       transform: translateY(-1rem);
       box-shadow: 0rem 3rem 3rem -1rem rgba($color-exim-blue,.7);
     }
     &:active{
       transform: translateY(0);
       box-shadow: 0rem 1rem 3rem -1rem rgba($color-exim-blue,.7);
     }
     &--icon{

     }
    }

  }
  &_image{
     margin-right: -10rem;
  }
}
@include respond(tab-port){
  .landing__2{
    text-align: center;
    flex-direction: column;
    padding: 1rem;
    &_text{
      &-small{
        font-size: 1.2rem;
        font-weight: normal;
        color: $color-black;
      }
      &-btn{
        margin: 2rem auto;
        margin-top: 3rem;
      }
    }
    &_image{
      height: 60vh;
      margin-right: -20rem;
    }
  }
};
