.nav{
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__compName{

  }
  &__link{
    color: $color-exim-grey;
    padding: 0 4rem;
    &:hover{
      color: $color-exim-blue;
      text-decoration: none;
    }
  }
  &__list{
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
    &_Hr{
      width: 50%;
      margin: 0 auto;
      color: $color-exim-blue;
      margin-top: 1rem;
      border: none;
      border-top: .3rem solid $color-exim-blue;
      border-radius: 5px;
      transition: all 1s ease-out;
    }
    & a{

    }
    &_item{

    }
  }


}
