.nav{
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__compName{

  }
  &__link{
    color: $color-exim-grey;
    padding: 0 2rem;
    &:hover{
      color: $color-exim-blue;
      text-decoration: none;
    }
  }
  &__list{
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
    &_Hr{
      width: 50%;
      margin: 0 auto;
      color: $color-exim-blue;
      margin-top: 1rem;
      border: none;
      border-top: .3rem solid $color-exim-blue;
      border-radius: 5px;
      transition: all 1s ease-out;
    }
    & a{

    }
    &_item{

    }
  }
}

#nav__list_a{
  font-size: 1.5rem;
  position: relative;
  top: -1.5rem;
  & img{
    height: 1.5rem;
  }
}

@include respond(tab-land){
  .nav{
    padding: 1rem 2rem;
    // flex-direction:column;
    position: relative;
    position:sticky;
    background: $color-white;
    top: 0;
    height: 7rem;
    // left: -2rem;
    margin-left: -1rem;
    width: 100vw;
    z-index: 1000;
    & img{
      height: 5rem;
    }
    &__mob{
      &_text{
         font-size: 1.5rem;
         font-weight:bold;
         position: relative;
         padding-right: 5rem;
         & span{
           top: 0;
           // transform-origin: center;
           transform: translateY(-10.5rem) translateX(.5rem);
           position: absolute;
            // color: transparent;
            // border-radius: 50%;
            // width:5rem;
            height: 5rem;
            font-size: 13rem;
            // background: $color-exim-blue;
         }
      }

      &_wrapper{
          position:fixed;
          top: 0;
          left: 0;
          background: $color-white;
          height: 100vh;
          width: 100vw;
          z-index: 100;
          display: flex;
          align-items:center;
          padding-top: 5rem;
          opacity: 0;
          visibility: hidden;
          flex-direction: column;
          &-cancel{
            position: absolute;
            top: 3rem;
            right: 3rem;
            height: 3rem;
          }
          &-play{
            min-width: 26rem;

          }
          &-link{
               color: $color-exim-dark-grey;
               font-size: 2.5rem;
               margin: 1.5rem;
               min-width: 26rem;
               &:active,&:focus{
                 text-decoration: none;
               }
          }
      }
      &_wrapper2,&_wrapper3{
        z-index: 101;
        position:fixed;
        background: $color-black;
        top: 2.2rem;
        right: 4.5rem;
        height: 2.6rem;
        width: 2.6rem;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        // animation: wrapper2 5s linear;
        animation-fill-mode: forwards;
        backface-visibility: hidden;
      }
      &_wrapper3{
        height: 25rem;
        width: 25rem;
        transform: scale(6.5) translateY(18rem) translateX(-3.5rem);
        // animation: wrapper3 10s linear infinite;
        animation-fill-mode: both;
      }
    }
  }
};
